In [1]:
#Importing required libraries
import pandas as pd
import numpy as np

In [2]:
# Loading the given files into pandas objects
accounts = pd.read_csv('SampleAccounts.csv')
ledger_entries = pd.read_csv('SampleLedgerEntries.csv')
transaction_types = pd.read_csv('SampleTransactionTypes.csv')
rate = pd.read_csv('SampleRates.csv')

In [3]:
# Merging two dataframe objects
ledger_account = pd.merge(ledger_entries, accounts, how="left", on=["account_id"])
ledger_account_t =pd.merge(ledger_account, transaction_types, how="left", on=["type"])

In [4]:
# Checking the head of merged data
ledger_account_t.head()

,account_id,type,created_at,balance_1e8,available_1e8,customer_id,currency,description
0,48c768fed2b026122a50c20a83040b453067a251,1,09/08/2015 10:56,30000.0,30000.0,1cf4eac9d442eda8329403546901e682,XBT,Payment
1,48c768fed2b026122a50c20a83040b453067a251,2,09/08/2015 11:50,30000.0,10000.0,1cf4eac9d442eda8329403546901e682,XBT,WithdrawalReserve
2,48c768fed2b026122a50c20a83040b453067a251,1,09/08/2015 11:50,10000.0,10000.0,1cf4eac9d442eda8329403546901e682,XBT,Payment
3,48c768fed2b026122a50c20a83040b453067a251,1,12/08/2015 07:43,40000.0,40000.0,1cf4eac9d442eda8329403546901e682,XBT,Payment
4,48c768fed2b026122a50c20a83040b453067a251,2,12/08/2015 09:25,40000.0,20000.0,1cf4eac9d442eda8329403546901e682,XBT,WithdrawalReserve

In [5]:
# Checking the data types of the merged data
ledger_account_t.dtypes

account_id        object
type               int64
created_at        object
balance_1e8      float64
available_1e8    float64
customer_id       object
currency          object
description       object
dtype: object

In [6]:
# Checking the final shape of data
ledger_account_t.shape

(1104, 8)

In [7]:
# Converting created time to datetime format
ledger_account_t['created_at'] = pd.to_datetime(ledger_account_t['created_at'], format='%d/%m/%Y %H:%M')

In [8]:
# Again checking whether datetime object is changed or not
ledger_account_t.dtypes

account_id               object
type                      int64
created_at       datetime64[ns]
balance_1e8             float64
available_1e8           float64
customer_id              object
currency                 object
description              object
dtype: object

In [9]:
# Checking the shape
ledger_account_t.shape

(1104, 8)

In [10]:
# Checking the given customer transctions
ano = ledger_account_t[ledger_account_t['customer_id']=='1cf4eac9d442eda8329403546901e682']
ano

,account_id,type,created_at,balance_1e8,available_1e8,customer_id,currency,description
0,48c768fed2b026122a50c20a83040b453067a251,1,2015-08-09 10:56:00,30000.0,30000.0,1cf4eac9d442eda8329403546901e682,XBT,Payment
1,48c768fed2b026122a50c20a83040b453067a251,2,2015-08-09 11:50:00,30000.0,10000.0,1cf4eac9d442eda8329403546901e682,XBT,WithdrawalReserve
2,48c768fed2b026122a50c20a83040b453067a251,1,2015-08-09 11:50:00,10000.0,10000.0,1cf4eac9d442eda8329403546901e682,XBT,Payment
3,48c768fed2b026122a50c20a83040b453067a251,1,2015-08-12 07:43:00,40000.0,40000.0,1cf4eac9d442eda8329403546901e682,XBT,Payment
4,48c768fed2b026122a50c20a83040b453067a251,2,2015-08-12 09:25:00,40000.0,20000.0,1cf4eac9d442eda8329403546901e682,XBT,WithdrawalReserve
...,...,...,...,...,...,...,...,...
107,48c768fed2b026122a50c20a83040b453067a251,1,2015-09-02 20:59:00,5000.0,5000.0,1cf4eac9d442eda8329403546901e682,XBT,Payment
110,48c768fed2b026122a50c20a83040b453067a251,1,2015-09-04 04:17:00,13000.0,13000.0,1cf4eac9d442eda8329403546901e682,XBT,Payment
123,48c768fed2b026122a50c20a83040b453067a251,1,2015-09-06 18:39:00,53000.0,53000.0,1cf4eac9d442eda8329403546901e682,XBT,Payment
125,48c768fed2b026122a50c20a83040b453067a251,2,2015-09-07 05:33:00,53000.0,13000.0,1cf4eac9d442eda8329403546901e682,XBT,WithdrawalReserve
126,48c768fed2b026122a50c20a83040b453067a251,1,2015-09-07 06:05:00,13000.0,13000.0,1cf4eac9d442eda8329403546901e682,XBT,Payment

In [11]:
ano['index1'] = ano.index

C:\Users\Pranavi\AppData\Local\Temp/ipykernel_61032/1895083514.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ano['index1'] = ano.index

In [12]:
# Checking the columns
ano.columns

Index(['account_id', 'type', 'created_at', 'balance_1e8', 'available_1e8',
       'customer_id', 'currency', 'description', 'index1'],
      dtype='object')

# Task 1

In [13]:
# This is single customer transaction data
def single_customer_data(ano):
    # Creating index for the data
    ano['index1'] = ano.index
    
    # Initialising final dataframe
    result = pd.DataFrame(columns = ['customer_id', 'created_at', 'type', 'currency', 'transaction_name', 'transaction_amount'])
    
    # Taking only XBT transactions
    xbt = ano[ano['currency'] == 'XBT']
    
    for i in range(0, len(ano)):
        # Taking XBT tranctions previous to current line
        temp = xbt[xbt['index1']<ano.iloc[i][8]]
        
        # For transaction type 1
        if i == 0:
            if ano.iloc[i][1] == 1 and ano.iloc[i][6]=='XBT':
                to_add = pd.DataFrame({'customer_id': ano.iloc[i][5], 'created_at': ano.iloc[i][2], 'type': ano.iloc[i][1], 'currency': ano.iloc[i][6], 'transaction_name': 'ReceiveBTC','transaction_amount': ano.iloc[i][4]}, index=[0])
                result = result.append(to_add, ignore_index=True)
            elif ano.iloc[i][1] == 1 and ano.iloc[i][6]!='XBT':
                to_add = pd.DataFrame({'customer_id': ano.iloc[i][5], 'created_at': ano.iloc[i][2], 'type': ano.iloc[i][1], 'currency': ano.iloc[i][6], 'transaction_name': 'FiatDeposit','transaction_amount': ano.iloc[i][4]}, index=[0])
                result = result.append(to_add, ignore_index=True)
        
        # For transaction 1 preceding with transaction 2
        elif ano.iloc[i-1][1] == 2 and ano.iloc[i][1] == 1:
            if (ano.iloc[i][3] - ano.iloc[i-1][3]) < 0:
                to_add = pd.DataFrame({'customer_id': ano.iloc[i][5], 'created_at': ano.iloc[i][2], 'type': ano.iloc[i][1], 'currency': ano.iloc[i][6], 'transaction_name': 'SendBTC','transaction_amount': (ano.iloc[i][3] - ano.iloc[i-1][3])}, index=[0])
            else:
                to_add = pd.DataFrame({'customer_id': ano.iloc[i][5], 'created_at': ano.iloc[i][2], 'type': ano.iloc[i][1], 'currency': ano.iloc[i][6], 'transaction_name': 'ReceiveBTC','transaction_amount': (ano.iloc[i][3] - ano.iloc[i-1][3])}, index=[0])
            result = result.append(to_add, ignore_index=True)

        elif ano.iloc[i-1][1] != 2 and ano.iloc[i][1] == 1 and i!=0 and len(temp)!=0:
            to_add = pd.DataFrame({'customer_id': ano.iloc[i][5], 'created_at': ano.iloc[i][2], 'type': ano.iloc[i][1], 'currency': ano.iloc[i][6], 'transaction_name': 'ReceiveBTC','transaction_amount': ano.iloc[i][4] - temp.iloc[len(temp)- 1][4]}, index=[0])
            result = result.append(to_add, ignore_index=True)
        
        # For transaction 4 and 'XBT'
        elif (ano.iloc[i][1] == 4)  and (ano.iloc[i][6] == 'XBT'):
            to_add = pd.DataFrame({'customer_id': ano.iloc[i][5], 'created_at': ano.iloc[i][2], 'type': ano.iloc[i][1], 'currency': ano.iloc[i][6], 'transaction_name': 'Bid','transaction_amount': 0}, index=[0])
            result = result.append(to_add, ignore_index=True)
            
        # For transaction 4 and not 'XBT'
        elif (ano.iloc[i][1] == 4)  and (ano.iloc[i][6] != 'XBT'):
            to_add = pd.DataFrame({'customer_id': ano.iloc[i][5], 'created_at': ano.iloc[i][2], 'type': ano.iloc[i][1], 'currency': ano.iloc[i][6], 'transaction_name': 'Ask','transaction_amount': 0}, index=[0])
            result = result.append(to_add, ignore_index=True)
            
        # For transaction 14
        elif (ano.iloc[i][1] == 14) and (ano.iloc[i][6] == 'XBT'):
            to_add = pd.DataFrame({'customer_id': ano.iloc[i][5], 'created_at': ano.iloc[i][2], 'type': ano.iloc[i][1], 'currency': ano.iloc[i][6], 'transaction_name': 'SellBTC','transaction_amount': ano.iloc[i][4] - temp.iloc[len(temp)- 1][4]}, index=[0])
            result = result.append(to_add, ignore_index=True)
            
        # For tansaction 15
        elif (ano.iloc[i][1] == 15) and (ano.iloc[i][6] == 'XBT') and len(temp)!=0:
            to_add = pd.DataFrame({'customer_id': ano.iloc[i][5], 'created_at': ano.iloc[i][2], 'type': ano.iloc[i][1], 'currency': ano.iloc[i][6], 'transaction_name': 'BuyBTC','transaction_amount': ano.iloc[i][4] - temp.iloc[len(temp)- 1][4]}, index=[0])
            result = result.append(to_add, ignore_index=True)
            
        # For transaction 7
        elif (ano.iloc[i][1] == 7) and (ano.iloc[i][6] == 'XBT') and len(temp)!=0:
            
            to_add = pd.DataFrame({'customer_id': ano.iloc[i][5], 'created_at': ano.iloc[i][2], 'type': ano.iloc[i][1], 'currency': ano.iloc[i][6], 'transaction_name': 'TradeBuy','transaction_amount': ano.iloc[i][4] - temp.iloc[len(temp)- 1][4]}, index=[0])
            result = result.append(to_add, ignore_index=True)
    return result

In [14]:
# Checking with given customer data
result = single_customer_data(ano)
result

C:\Users\Pranavi\AppData\Local\Temp/ipykernel_61032/3128658254.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ano['index1'] = ano.index

,customer_id,created_at,type,currency,transaction_name,transaction_amount
0,1cf4eac9d442eda8329403546901e682,2015-08-09 10:56:00,1,XBT,ReceiveBTC,30000.0
1,1cf4eac9d442eda8329403546901e682,2015-08-09 11:50:00,1,XBT,SendBTC,-20000.0
2,1cf4eac9d442eda8329403546901e682,2015-08-12 07:43:00,1,XBT,ReceiveBTC,30000.0
3,1cf4eac9d442eda8329403546901e682,2015-08-12 09:25:00,1,XBT,SendBTC,-20000.0
4,1cf4eac9d442eda8329403546901e682,2015-08-14 08:30:00,1,XBT,ReceiveBTC,30000.0
5,1cf4eac9d442eda8329403546901e682,2015-08-14 09:04:00,4,XBT,Bid,0.0
6,1cf4eac9d442eda8329403546901e682,2015-08-14 11:40:00,4,XBT,Bid,0.0
7,1cf4eac9d442eda8329403546901e682,2015-08-14 12:27:00,1,XBT,SendBTC,-40000.0
8,1cf4eac9d442eda8329403546901e682,2015-08-16 13:22:00,1,XBT,ReceiveBTC,30000.0
9,1cf4eac9d442eda8329403546901e682,2015-08-19 10:28:00,1,XBT,ReceiveBTC,30000.0
10,1cf4eac9d442eda8329403546901e682,2015-08-19 12:18:00,4,XBT,Bid,0.0
11,1cf4eac9d442eda8329403546901e682,2015-08-20 19:10:00,4,XBT,Bid,0.0
12,1cf4eac9d442eda8329403546901e682,2015-08-20 20:31:00,4,XBT,Bid,0.0
13,1cf4eac9d442eda8329403546901e682,2015-08-21 01:52:00,1,XBT,ReceiveBTC,30000.0
14,1cf4eac9d442eda8329403546901e682,2015-08-21 04:24:00,4,XBT,Bid,0.0
15,1cf4eac9d442eda8329403546901e682,2015-08-21 10:50:00,14,XBT,SellBTC,-70000.0
16,1cf4eac9d442eda8329403546901e682,2015-08-21 12:17:00,4,IDR,Ask,0.0
17,1cf4eac9d442eda8329403546901e682,2015-08-21 14:38:00,4,IDR,Ask,0.0
18,1cf4eac9d442eda8329403546901e682,2015-08-21 16:58:00,4,IDR,Ask,0.0
19,1cf4eac9d442eda8329403546901e682,2015-08-21 16:59:00,4,IDR,Ask,0.0
20,1cf4eac9d442eda8329403546901e682,2015-08-22 20:33:00,4,IDR,Ask,0.0
21,1cf4eac9d442eda8329403546901e682,2015-08-22 21:16:00,1,XBT,ReceiveBTC,30000.0
22,1cf4eac9d442eda8329403546901e682,2015-08-23 12:48:00,14,XBT,SellBTC,-60000.0
23,1cf4eac9d442eda8329403546901e682,2015-08-23 19:50:00,4,IDR,Ask,0.0
24,1cf4eac9d442eda8329403546901e682,2015-08-25 15:00:00,1,XBT,ReceiveBTC,20000.0
25,1cf4eac9d442eda8329403546901e682,2015-08-25 15:16:00,4,IDR,Ask,0.0
26,1cf4eac9d442eda8329403546901e682,2015-08-25 15:49:00,7,XBT,TradeBuy,129000.0
27,1cf4eac9d442eda8329403546901e682,2015-08-25 15:56:00,14,XBT,SellBTC,-149000.0
28,1cf4eac9d442eda8329403546901e682,2015-08-25 15:58:00,4,IDR,Ask,0.0
29,1cf4eac9d442eda8329403546901e682,2015-08-25 16:56:00,7,XBT,TradeBuy,149000.0
30,1cf4eac9d442eda8329403546901e682,2015-08-25 17:01:00,4,XBT,Bid,0.0
31,1cf4eac9d442eda8329403546901e682,2015-08-25 21:36:00,14,XBT,SellBTC,-149000.0
32,1cf4eac9d442eda8329403546901e682,2015-08-25 21:38:00,4,IDR,Ask,0.0
33,1cf4eac9d442eda8329403546901e682,2015-08-26 00:59:00,7,XBT,TradeBuy,74900.0
34,1cf4eac9d442eda8329403546901e682,2015-08-26 01:56:00,14,XBT,SellBTC,-74900.0
35,1cf4eac9d442eda8329403546901e682,2015-08-27 10:51:00,15,XBT,BuyBTC,149000.0
36,1cf4eac9d442eda8329403546901e682,2015-08-27 15:17:00,1,XBT,ReceiveBTC,30000.0
37,1cf4eac9d442eda8329403546901e682,2015-08-27 15:22:00,14,XBT,SellBTC,-179000.0
38,1cf4eac9d442eda8329403546901e682,2015-08-27 17:18:00,15,XBT,BuyBTC,175000.0
39,1cf4eac9d442eda8329403546901e682,2015-08-28 08:24:00,1,XBT,SendBTC,-100000.0
40,1cf4eac9d442eda8329403546901e682,2015-08-28 11:07:00,1,XBT,SendBTC,-75000.0
41,1cf4eac9d442eda8329403546901e682,2015-08-28 16:19:00,1,XBT,ReceiveBTC,65000.0
42,1cf4eac9d442eda8329403546901e682,2015-08-29 18:07:00,1,XBT,ReceiveBTC,30000.0
43,1cf4eac9d442eda8329403546901e682,2015-08-30 16:38:00,1,XBT,SendBTC,-40000.0
44,1cf4eac9d442eda8329403546901e682,2015-08-30 16:51:00,1,XBT,SendBTC,-40000.0
45,1cf4eac9d442eda8329403546901e682,2015-09-02 08:04:00,1,XBT,ReceiveBTC,30000.0
46,1cf4eac9d442eda8329403546901e682,2015-09-02 20:59:00,1,XBT,SendBTC,-40000.0
47,1cf4eac9d442eda8329403546901e682,2015-09-04 04:17:00,1,XBT,ReceiveBTC,8000.0
48,1cf4eac9d442eda8329403546901e682,2015-09-06 18:39:00,1,XBT,ReceiveBTC,40000.0
49,1cf4eac9d442eda8329403546901e682,2015-09-07 06:05:00,1,XBT,SendBTC,-40000.0

In [15]:
customers = ledger_account_t.customer_id.unique()
customers

array(['1cf4eac9d442eda8329403546901e682',
       '07a1c42e45f8e932daf2604a8654e34a',
       '23758b953b9363fdb28970605f90df05',
       '85893e13c5acd5d9a66dae76be93f896',
       'a1718fd0b29f02fba35983ef95383b42',
       '4b267978b61814949c2254f3433a8851',
       '9cfe3731347f1b9a54f37d3cbd2e021f',
       '5f4ef5100caa2b429ebc81e937766e13',
       'ad68d1037f71de892c6308f4bbf8a8b9',
       'ea776c620e668523d2698f4cf8910879',
       '18694b7c8796f902c5b01ef949bd32da',
       '72c382c5b29bc6c91a39e122192972c0',
       'd6ac4f291ea57264c1a74b57d763ec74',
       '0a25fcdd5bbfeae22ea9c8247cb596c5',
       '9fd4e3423da76fbba14532ef66928bd6',
       '60e8b5986d191ec2a2488b7e18cbe49c',
       '31971f3d2122bd54916202aca0c9fa50',
       '66cf4434c5337bf95dfcfed45a5faadf',
       '7087e55f7d823566cf44e8bbab49c04c',
       'd513c287f15183426d9fc124b4e755ee',
       '543682aca3b1762aa7e24e42f3f453bb',
       'bc384b855285e4af16f440efccaa63bf',
       '051bbd48e7d48fe378e1122592c4b85e',
       '097ccc89932fadf7e995cc111d6a2e16',
       '389defe75a0a4c917bbb19ba0b62a74f',
       'c20b50bad2f1a45cef25c4d52a6ee1a6',
       'c3cca7a38a754229991e7772921d1fb6',
       '2ccca6a5e346f5dfea202692821eca7c',
       '72b12267c063f77fc13f02e1b78a93e6',
       '66096744f41220a95d82f5e7e1dc6329',
       '447c0f32b9efc9729452e6507945baa0',
       'b5783cd0dd49db7fdcc7f9fa0170da06',
       'cb2708579e9301556a97ed75430d7ec6',
       'edc27ca7433521f0c17b7d6d568ed295',
       '53fe346b3c8ffcc219685631158c1320',
       '2504341c3779ed9b0570e352389b4bfa',
       '9d4062d4227a3cd2e5ea3e6113e2f6ce',
       '0222ec719d79d8f4212aff803fb18558',
       '283862873d8adb9581e32f6caf91d655',
       '3c02ecfa8ac58e7e954e832b3190cb5e',
       '1da45be660f466f8d61527711ff05b5b',
       '99bc2cd27371f93402e00f82af2597e7',
       '92fed241967f4c057b08e91df1bf27ec',
       'b693cbe3d6b569feea0b024f30cfb7bb',
       '87efeccc9feb1bc623834c43fc3c3860',
       'fd1a548adf4ab8337beafaf0b2c123fd',
       '932016525bed149bacd07e28d1659edd',
       '95054cb63999f954901f4aa7a3e9c1d5',
       '1d1825ec1e44d816817c27bc03fb5254',
       '8e220c951a56f0c755f1b29af00f1004',
       '7720bfba5295fb9651476787b53fc777',
       '77fdde58e48426f78d4e8c9ef9931871',
       '3ca6bc5c89f37a1e541dcf70bf492688',
       '7b0ffe48f3615eba835f0b465d126af5',
       'f7042eac8757f8e65da1b65e7e718f49',
       'fd537cf4cfc6eeb2f375e03fbdf51efc',
       'defd74adcbc93ad2edcd801d7511bb47',
       '4d604062c0b29363c2c028b425006da1',
       '947600ddd62067dfebb0dd0799197116',
       'd449f079f71e57d304f8bb2b88fdb93e',
       'e175770da60d24d0b592ae716bd722aa',
       'd272afac5ec560a924e434c6c9326c4c',
       '97f3beff1b2a6bf2ed801daa590625f8',
       'f652e9b0541036ed3102c171f8126cc9',
       '4641e1094573d4de3a77d9969580d09c',
       '41513f4718ab57bb2ab1810abc70095a',
       '2926ff4deed9c20c1ad8a88eeaa1c74e'], dtype=object)

In [16]:
# Generating for all the customers
task_1 = pd.DataFrame(columns = ['customer_id', 'created_at', 'type', 'currency', 'transaction_name', 'transaction_amount'])
for customer in customers:
    customer_transaction = single_customer_data(ledger_account_t[ledger_account_t['customer_id']==customer])
    task_1 = task_1.append(customer_transaction, ignore_index=True)
    
# Final Output for task 1
task_1

C:\Users\Pranavi\AppData\Local\Temp/ipykernel_61032/3128658254.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ano['index1'] = ano.index

,customer_id,created_at,type,currency,transaction_name,transaction_amount
0,1cf4eac9d442eda8329403546901e682,2015-08-09 10:56:00,1,XBT,ReceiveBTC,3.000000e+04
1,1cf4eac9d442eda8329403546901e682,2015-08-09 11:50:00,1,XBT,SendBTC,-2.000000e+04
2,1cf4eac9d442eda8329403546901e682,2015-08-12 07:43:00,1,XBT,ReceiveBTC,3.000000e+04
3,1cf4eac9d442eda8329403546901e682,2015-08-12 09:25:00,1,XBT,SendBTC,-2.000000e+04
4,1cf4eac9d442eda8329403546901e682,2015-08-14 08:30:00,1,XBT,ReceiveBTC,3.000000e+04
...,...,...,...,...,...,...
669,f652e9b0541036ed3102c171f8126cc9,2016-11-12 21:48:00,1,ZAR,FiatDeposit,5.000000e+10
670,4641e1094573d4de3a77d9969580d09c,2016-11-20 21:52:00,1,ZAR,FiatDeposit,1.000000e+09
671,4641e1094573d4de3a77d9969580d09c,2016-11-21 10:12:00,4,ZAR,Ask,0.000000e+00
672,41513f4718ab57bb2ab1810abc70095a,2016-11-26 08:23:00,1,ZAR,FiatDeposit,1.000000e+11
673,2926ff4deed9c20c1ad8a88eeaa1c74e,2016-12-31 23:31:00,1,ZAR,FiatDeposit,3.000000e+10

In [60]:
# Converting the results to csv
task_1.to_csv('task_1.csv')

# Task 2

In [17]:
# Checking top 5 rates
rate.head()

       timestamp    pair  exchange_rate_1e6
0  1433119759298  XBTIDR      3056670000000
1  1433123361969  XBTIDR      3054181930000
2  1433126965194  XBTIDR      3057349460000
3  1433130568318  XBTIDR      3059914200000
4  1433134169856  XBTIDR      3058430840000

In [18]:
# Converting to datetime
rate['timestamp'] = pd.to_datetime(rate['timestamp'], unit='ms')
rate

                     timestamp    pair  exchange_rate_1e6
0      2015-06-01 00:49:19.298  XBTIDR      3056670000000
1      2015-06-01 01:49:21.969  XBTIDR      3054181930000
2      2015-06-01 02:49:25.194  XBTIDR      3057349460000
3      2015-06-01 03:49:28.318  XBTIDR      3059914200000
4      2015-06-01 04:49:29.856  XBTIDR      3058430840000
...                        ...     ...                ...
242215 2016-12-31 22:58:26.842  XBTZAR        14249000000
242216 2016-12-31 23:13:26.964  XBTZAR        14250000000
242217 2016-12-31 23:28:27.046  XBTZAR        14250000000
242218 2016-12-31 23:43:27.104  XBTZAR        14250000000
242219 2016-12-31 23:58:27.311  XBTZAR        14349000000

[242220 rows x 3 columns]

In [19]:
# Converting timestamp to date format
rate['timestamp'] = rate['timestamp'].dt.date
rate

         timestamp    pair  exchange_rate_1e6
0       2015-06-01  XBTIDR      3056670000000
1       2015-06-01  XBTIDR      3054181930000
2       2015-06-01  XBTIDR      3057349460000
3       2015-06-01  XBTIDR      3059914200000
4       2015-06-01  XBTIDR      3058430840000
...            ...     ...                ...
242215  2016-12-31  XBTZAR        14249000000
242216  2016-12-31  XBTZAR        14250000000
242217  2016-12-31  XBTZAR        14250000000
242218  2016-12-31  XBTZAR        14250000000
242219  2016-12-31  XBTZAR        14349000000

[242220 rows x 3 columns]

In [20]:
# Averaging by day
#rate.groupby(['timestamp', 'pair']).size().to_frame(name='exchange_rate_1e6').reset_index()
rate = rate.groupby(['timestamp', 'pair']).mean().reset_index()
rate

       timestamp    pair  exchange_rate_1e6
0     2015-06-01  XBTIDR       3.014273e+12
1     2015-06-01  XBTMYR       8.852604e+08
2     2015-06-01  XBTNGN       4.540282e+10
3     2015-06-01  XBTSGD       3.081129e+08
4     2015-06-01  XBTUSD       2.281112e+08
...          ...     ...                ...
3400  2016-12-31  XBTMYR       2.880052e+09
3401  2016-12-31  XBTNGN       4.664730e+11
3402  2016-12-31  XBTSGD       1.388667e+09
3403  2016-12-31  XBTUSD       9.601321e+08
3404  2016-12-31  XBTZAR       1.411491e+10

[3405 rows x 3 columns]

In [27]:
# Checking rates datatypes
rate.dtypes

timestamp             object
pair                  object
exchange_rate_1e6    float64
dtype: object

In [28]:
# Converting timestamp datatype
rate['timestamp'] = pd.to_datetime(rate['timestamp'])

In [43]:
# Taking copy of task 1
task_2 = task_1.copy()

In [44]:
task_2

,customer_id,created_at,type,currency,transaction_name,transaction_amount
0,1cf4eac9d442eda8329403546901e682,2015-08-09 10:56:00,1,XBT,ReceiveBTC,3.000000e+04
1,1cf4eac9d442eda8329403546901e682,2015-08-09 11:50:00,1,XBT,SendBTC,-2.000000e+04
2,1cf4eac9d442eda8329403546901e682,2015-08-12 07:43:00,1,XBT,ReceiveBTC,3.000000e+04
3,1cf4eac9d442eda8329403546901e682,2015-08-12 09:25:00,1,XBT,SendBTC,-2.000000e+04
4,1cf4eac9d442eda8329403546901e682,2015-08-14 08:30:00,1,XBT,ReceiveBTC,3.000000e+04
...,...,...,...,...,...,...
669,f652e9b0541036ed3102c171f8126cc9,2016-11-12 21:48:00,1,ZAR,FiatDeposit,5.000000e+10
670,4641e1094573d4de3a77d9969580d09c,2016-11-20 21:52:00,1,ZAR,FiatDeposit,1.000000e+09
671,4641e1094573d4de3a77d9969580d09c,2016-11-21 10:12:00,4,ZAR,Ask,0.000000e+00
672,41513f4718ab57bb2ab1810abc70095a,2016-11-26 08:23:00,1,ZAR,FiatDeposit,1.000000e+11
673,2926ff4deed9c20c1ad8a88eeaa1c74e,2016-12-31 23:31:00,1,ZAR,FiatDeposit,3.000000e+10

In [45]:
task_2['currency_exchange'] = task_2['currency'].apply(lambda x: x+'USD')
task_2

,customer_id,created_at,type,currency,transaction_name,transaction_amount,currency_exchange
0,1cf4eac9d442eda8329403546901e682,2015-08-09 10:56:00,1,XBT,ReceiveBTC,3.000000e+04,XBTUSD
1,1cf4eac9d442eda8329403546901e682,2015-08-09 11:50:00,1,XBT,SendBTC,-2.000000e+04,XBTUSD
2,1cf4eac9d442eda8329403546901e682,2015-08-12 07:43:00,1,XBT,ReceiveBTC,3.000000e+04,XBTUSD
3,1cf4eac9d442eda8329403546901e682,2015-08-12 09:25:00,1,XBT,SendBTC,-2.000000e+04,XBTUSD
4,1cf4eac9d442eda8329403546901e682,2015-08-14 08:30:00,1,XBT,ReceiveBTC,3.000000e+04,XBTUSD
...,...,...,...,...,...,...,...
669,f652e9b0541036ed3102c171f8126cc9,2016-11-12 21:48:00,1,ZAR,FiatDeposit,5.000000e+10,ZARUSD
670,4641e1094573d4de3a77d9969580d09c,2016-11-20 21:52:00,1,ZAR,FiatDeposit,1.000000e+09,ZARUSD
671,4641e1094573d4de3a77d9969580d09c,2016-11-21 10:12:00,4,ZAR,Ask,0.000000e+00,ZARUSD
672,41513f4718ab57bb2ab1810abc70095a,2016-11-26 08:23:00,1,ZAR,FiatDeposit,1.000000e+11,ZARUSD
673,2926ff4deed9c20c1ad8a88eeaa1c74e,2016-12-31 23:31:00,1,ZAR,FiatDeposit,3.000000e+10,ZARUSD

In [46]:
# Converting to datetime
task_2['created_at_date'] = pd.to_datetime(task_2['created_at'].dt.date)
task_2.dtypes

customer_id                   object
created_at            datetime64[ns]
type                          object
currency                      object
transaction_name              object
transaction_amount           float64
currency_exchange             object
created_at_date       datetime64[ns]
dtype: object

In [47]:
# Getting final data values
task_2 = (pd.merge(task_2, rate,  how='left', left_on=['created_at_date','currency_exchange'], right_on = ['timestamp','pair']))
task_2 = task_2[~ task_2['exchange_rate_1e6'].isnull()]
task_2

,customer_id,created_at,type,currency,transaction_name,transaction_amount,currency_exchange,created_at_date,timestamp,pair,exchange_rate_1e6
0,1cf4eac9d442eda8329403546901e682,2015-08-09 10:56:00,1,XBT,ReceiveBTC,30000.0,XBTUSD,2015-08-09,2015-08-09,XBTUSD,2.648196e+08
1,1cf4eac9d442eda8329403546901e682,2015-08-09 11:50:00,1,XBT,SendBTC,-20000.0,XBTUSD,2015-08-09,2015-08-09,XBTUSD,2.648196e+08
2,1cf4eac9d442eda8329403546901e682,2015-08-12 07:43:00,1,XBT,ReceiveBTC,30000.0,XBTUSD,2015-08-12,2015-08-12,XBTUSD,2.697617e+08
3,1cf4eac9d442eda8329403546901e682,2015-08-12 09:25:00,1,XBT,SendBTC,-20000.0,XBTUSD,2015-08-12,2015-08-12,XBTUSD,2.697617e+08
4,1cf4eac9d442eda8329403546901e682,2015-08-14 08:30:00,1,XBT,ReceiveBTC,30000.0,XBTUSD,2015-08-14,2015-08-14,XBTUSD,2.668162e+08
...,...,...,...,...,...,...,...,...,...,...,...
659,d449f079f71e57d304f8bb2b88fdb93e,2016-07-14 23:34:00,1,XBT,ReceiveBTC,4000000.0,XBTUSD,2016-07-14,2016-07-14,XBTUSD,6.609650e+08
660,d449f079f71e57d304f8bb2b88fdb93e,2016-07-16 06:37:00,1,XBT,SendBTC,-7061320.0,XBTUSD,2016-07-16,2016-07-16,XBTUSD,6.685492e+08
664,d272afac5ec560a924e434c6c9326c4c,2016-11-07 06:53:00,15,XBT,BuyBTC,39000.0,XBTUSD,2016-11-07,2016-11-07,XBTUSD,7.088748e+08
665,d272afac5ec560a924e434c6c9326c4c,2016-11-08 15:51:00,14,XBT,SellBTC,-55000.0,XBTUSD,2016-11-08,2016-11-08,XBTUSD,7.112346e+08
666,d272afac5ec560a924e434c6c9326c4c,2016-11-08 15:52:00,15,XBT,BuyBTC,53000.0,XBTUSD,2016-11-08,2016-11-08,XBTUSD,7.112346e+08

In [61]:
# Converting the results to csv
task_2.to_csv('task_2.csv')

# Task 3

In [48]:
task_3 = task_2.copy()

In [49]:
task_3['month'] = pd.DatetimeIndex(task_3['created_at_date']).month
task_3

,customer_id,created_at,type,currency,transaction_name,transaction_amount,currency_exchange,created_at_date,timestamp,pair,exchange_rate_1e6,month
0,1cf4eac9d442eda8329403546901e682,2015-08-09 10:56:00,1,XBT,ReceiveBTC,30000.0,XBTUSD,2015-08-09,2015-08-09,XBTUSD,2.648196e+08,8
1,1cf4eac9d442eda8329403546901e682,2015-08-09 11:50:00,1,XBT,SendBTC,-20000.0,XBTUSD,2015-08-09,2015-08-09,XBTUSD,2.648196e+08,8
2,1cf4eac9d442eda8329403546901e682,2015-08-12 07:43:00,1,XBT,ReceiveBTC,30000.0,XBTUSD,2015-08-12,2015-08-12,XBTUSD,2.697617e+08,8
3,1cf4eac9d442eda8329403546901e682,2015-08-12 09:25:00,1,XBT,SendBTC,-20000.0,XBTUSD,2015-08-12,2015-08-12,XBTUSD,2.697617e+08,8
4,1cf4eac9d442eda8329403546901e682,2015-08-14 08:30:00,1,XBT,ReceiveBTC,30000.0,XBTUSD,2015-08-14,2015-08-14,XBTUSD,2.668162e+08,8
...,...,...,...,...,...,...,...,...,...,...,...,...
659,d449f079f71e57d304f8bb2b88fdb93e,2016-07-14 23:34:00,1,XBT,ReceiveBTC,4000000.0,XBTUSD,2016-07-14,2016-07-14,XBTUSD,6.609650e+08,7
660,d449f079f71e57d304f8bb2b88fdb93e,2016-07-16 06:37:00,1,XBT,SendBTC,-7061320.0,XBTUSD,2016-07-16,2016-07-16,XBTUSD,6.685492e+08,7
664,d272afac5ec560a924e434c6c9326c4c,2016-11-07 06:53:00,15,XBT,BuyBTC,39000.0,XBTUSD,2016-11-07,2016-11-07,XBTUSD,7.088748e+08,11
665,d272afac5ec560a924e434c6c9326c4c,2016-11-08 15:51:00,14,XBT,SellBTC,-55000.0,XBTUSD,2016-11-08,2016-11-08,XBTUSD,7.112346e+08,11
666,d272afac5ec560a924e434c6c9326c4c,2016-11-08 15:52:00,15,XBT,BuyBTC,53000.0,XBTUSD,2016-11-08,2016-11-08,XBTUSD,7.112346e+08,11

In [51]:
task_3.month.unique()

array([ 8,  9, 10, 11,  4,  2, 12,  1,  6,  7,  3,  5], dtype=int64)

In [52]:
task_3['year'] = pd.DatetimeIndex(task_3['created_at_date']).year
task_3

,customer_id,created_at,type,currency,transaction_name,transaction_amount,currency_exchange,created_at_date,timestamp,pair,exchange_rate_1e6,month,year
0,1cf4eac9d442eda8329403546901e682,2015-08-09 10:56:00,1,XBT,ReceiveBTC,30000.0,XBTUSD,2015-08-09,2015-08-09,XBTUSD,2.648196e+08,8,2015
1,1cf4eac9d442eda8329403546901e682,2015-08-09 11:50:00,1,XBT,SendBTC,-20000.0,XBTUSD,2015-08-09,2015-08-09,XBTUSD,2.648196e+08,8,2015
2,1cf4eac9d442eda8329403546901e682,2015-08-12 07:43:00,1,XBT,ReceiveBTC,30000.0,XBTUSD,2015-08-12,2015-08-12,XBTUSD,2.697617e+08,8,2015
3,1cf4eac9d442eda8329403546901e682,2015-08-12 09:25:00,1,XBT,SendBTC,-20000.0,XBTUSD,2015-08-12,2015-08-12,XBTUSD,2.697617e+08,8,2015
4,1cf4eac9d442eda8329403546901e682,2015-08-14 08:30:00,1,XBT,ReceiveBTC,30000.0,XBTUSD,2015-08-14,2015-08-14,XBTUSD,2.668162e+08,8,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...
659,d449f079f71e57d304f8bb2b88fdb93e,2016-07-14 23:34:00,1,XBT,ReceiveBTC,4000000.0,XBTUSD,2016-07-14,2016-07-14,XBTUSD,6.609650e+08,7,2016
660,d449f079f71e57d304f8bb2b88fdb93e,2016-07-16 06:37:00,1,XBT,SendBTC,-7061320.0,XBTUSD,2016-07-16,2016-07-16,XBTUSD,6.685492e+08,7,2016
664,d272afac5ec560a924e434c6c9326c4c,2016-11-07 06:53:00,15,XBT,BuyBTC,39000.0,XBTUSD,2016-11-07,2016-11-07,XBTUSD,7.088748e+08,11,2016
665,d272afac5ec560a924e434c6c9326c4c,2016-11-08 15:51:00,14,XBT,SellBTC,-55000.0,XBTUSD,2016-11-08,2016-11-08,XBTUSD,7.112346e+08,11,2016
666,d272afac5ec560a924e434c6c9326c4c,2016-11-08 15:52:00,15,XBT,BuyBTC,53000.0,XBTUSD,2016-11-08,2016-11-08,XBTUSD,7.112346e+08,11,2016

In [62]:
# Converting to csv
task_3.to_csv('task_3.csv')